table{
    height: 90px;
    width: 100%;

    
    
}
*{
    font-family: font;
}
a{
    color: black;
    font-size: x-large;
   font-family: font;
   text-decoration: none;
    
}
body{
    background: linear-gradient(to right,#3c3c3c,#ad5389);
}

.head{
    color: black;
    background-color:blanchedalmond;
    text-align: center;
}
p{
    color: white;
}
h2{
    color: white;
    
}
#footer{
    background-color: blanchedalmond;

}
.color{
    color: white;
}
.pot{
    text-align: center;
}
@font-face {
    font-family: font;
    src: url(fonts/Righteous-Regular.ttf);
}
a:hover{
    color:blanchedalmond;
    background-color: black;
}
input:focus{
color: rgb(241, 241, 241);
background-color: black;
}